* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.grid {
  display: grid;
  gap: 4rem;
}

.grid--center {
  align-items: center;
}
.grid--2col {
  grid-template-columns: 1fr 1fr;
}

.btn-link:link,
:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: hsl(322, 100%, 66%);
  padding: 0.5em 2em;
  border-radius: 50px;
  font-size: 2rem;
}

.container {
  padding: 0 5rem;
}
